<div class="row mt-5 mt-lg-0">

  
  <div class="col-sm-6 text-center">
    <div class="card mb-3 formularioRegistro shadow">
      <div class="card-body">
        <h5 class="card-title">Forgot password</h5>
        
        <form>

          <div class="row">
            <div class="col-2">
              <label for="email">Email:</label>
            </div>
            <div class="col">
              <input id="email" type="email" class="form-control" placeholder="Email">
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <button class="btn btn-primary" id="resetPasswordBtn"> send email </button>
            </div>

        </form>
      
      </div>
    </div>

  </div>
  

</div>

<script src="/js/sendResetPassword.js"></script>