<form class="row g-3 m-3">
  <div class="col-md-4">
    <label for="inputTitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Enter the product title">
  </div>
  <div class="col-4">
    <label for="inputCode" class="form-label">Code</label>
    <input type="text" class="form-control" id="inputCode" placeholder="Enter the product code">
  </div>
  <div class="col-md-2">
    <label for="inputStatus" class="form-label">Status</label>
    <select id="inputStatus" class="form-select">
      <option selected value="Active">Active</option>
      <option value="Inactive">Inactive</option>
    </select>
  </div>

  <div class="col-1">
    <label for="inputPrice" class="form-label">Price ($)</label>
    <input type="number" min="0" class="form-control" id="inputPrice" placeholder="0">
  </div>

  <div class="col-1">
    <label for="inputStock" class="form-label">Stock</label>
    <input type="number" min="0" class="form-control" id="inputStock" placeholder="0">
  </div>

  <div class="col-md-10">
    <label for="inputDescription" class="form-label">Description</label>
    <input type="Text" class="form-control" id="inputDescription" placeholder="Enter the product description">
  </div>

  <div class="col-md-2">
    <label for="inputCategory" class="form-label">Category</label>
    <input type="Text" class="form-control" id="inputCategory">
  </div>

  <div class="col-3 row" id="thumbnailsContainer">
    <div class="col-md-12">
      <label for="inputThumbnail0" class="form-label">Thumbnails</label>
      <input type="text" class="form-control" id="inputThumbnail0">
    </div>
  </div>

  <div class="col-1">
    <br>
    <button class="btn btn-primary" id="addThumbnail">add thumbnail</button>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" id="submitForm">Add Product</button>
  </div>
</form>

<div class="accordion accordion-flush" id="productsContainer">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>