<div class="row mt-5 mt-lg-0">

  
  <div class="col-sm-6 text-center">
    <div class="card mb-3 formularioRegistro shadow">
      <div class="card-body">
        <h5 class="card-title">Reset Password</h5>
        
        <form>

          <input type="text" id="emailInput" value="{{data.email}}" style='display: none'>
          <input type="text" id="codeInput" value="{{data.code}}" style='display: none'>

          <div class="row">
            <div class="col-2">
              <label for="password">New password:</label>
            </div>
            <div class="col">
              <input id="passwordInput" type="password" class="form-control" placeholder="Password">
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <button class="btn btn-primary" id="resetBtn"> Reset password </button>
            </div>
          

        </form>
      
      </div>
    </div>

  </div>
  

</div>

<script src="/js/resetPassword.js"></script>